---
layout: archive
title: Oracle Developer Projects
---
{% include collections.html %}

<section class="all-projects">
  <h3>All Projects</h3>

  <div class="all-projects__cards cards">
      {% for pg in site.pages %}
      {% if pg.parent %}
      <div class="all-projects__cards--card card {{ pg.tags | tag_classes }}" data-category="{{ pg.categories | join: ' ' }}" data-tags="{{ pg.tags | join: ' ' }}">
          <h4><a class="animated-link" href="{{ site.baseurl }}{{ pg.url }}">{{ pg.title }}</a></h4>
          <figure class="thumbnail"><a href="{{ site.baseurl }}{{ pg.url }}"><img class="center-cropped" src="{% if pg.thumbnail %}{{ pg.thumbnail | relative_to: pg.url }}{% elsif pg.image %}{{ page.image | relative_to: pg.url }}{% endif %}"></a></figure>
          <p>{{ pg.description }}</p>
          <footer><span class="project"><a href="{{ site.baseurl }}/projects/{{ pg.parent | slugify }}">{{ pg.parent }}</a></span>: {% for tag in pg.tags %}<span class="tag"><a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a></span>{% endfor %}</footer>
      </div>
      {% endif %}
      {% endfor %}
  </div>

</section>
