---
layout: archive
title: Collections
---
{% include collections.html %}

<section class="all-collections">
  <h2>All Articles</h2>

  <div class="all-projects__cards cards">
    {% assign site_pages = site.pages | where_exp: "item", "item.parent != null" | sort: "modified" | reverse %}

      {% for pg in site_pages %}
          {% assign series = site.pages | where: "series", pg.parent | first %}
          {% include card.html class="card all-projects__card" source=pg series=series %}


      {% endfor %}
  </div>

</section>
