#ohana {
	h3 {
		display: none;
	}

	&.active {
		h3 {
			display: block;
		}
	}
}

.diy,
.mix,
.managed {
	display: none;
}

.pathnav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	.path {
		background: #eee;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 30%;
		background: #eee;
		border-radius: 8px;
		padding: 1em;
		position: relative;
		text-align: center;
		width: 30%;
	}

	.path__icon {
		position: absolute;
		left: 10%;
		top: 10%;
		font-size: 3em;
		opacity: .5;
	}
}


.tag {
	background: $lighter-gray;
	border-left: 8px solid $color-green;
	border-radius: $border-radius;
	display: inline-block;
	font-size: .8em;
	font-size: 6em;
	font-weight: 600;
	margin: 0 2px;
	padding: 0 6px;
	text-decoration: none;
	text-transform: lowercase;
}
