
html, input, button, textarea, select {
  font-family: $sans;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #161513;

  @supports (font-variation-settings:normal) {
    font-family: $sans-normal;
  }
}

html[lang^="ar"], html[lang^="ar"] input, html[lang^="ar"] button, html[lang^="ar"] textarea, html[lang^="ar"] select {
  font-family: $sans-ar;

  @supports (font-variation-settings:normal) {
    font-family: $sans-ar-normal;
  }
}

html[lang^="he"], html[lang^="he"] input, html[lang^="he"] button, html[lang^="he"] textarea, html[lang^="he"] select {
  font-family: $sans;

  @supports (font-variation-settings:normal) {
    font-family: $sans-normal;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  font-weight: 600
}

.animated-link {
  // position: relative;
  // display: inline-block;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   height: 1px;
  //   background: $link-color;
  //   width: 100%;
  //   -webkit-transition: $global-transition;
  //   transition: $global-transition;
  //   -webkit-transform: scaleX(0) translate3d(0, 0, 0);
  //   transform: scaleX(0) translate3d(0, 0, 0);
  //   transform-origin: 0;
  // }

  // &.tag:before {
  //   background: $color-green;
  //   border-radius: 0 0 4px 0;
  // }

  // &:hover:before {
  //   -webkit-transform: scaleX(1);
  //   -ms-transform: scaleX(1);
  //   transform: scaleX(1);
  // }
}
