.animated-link {
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: $link-color;
    width: 100%;
    -webkit-transition: $global-transition;
    transition: $global-transition;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0);
  }

  &:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}
