<section class="collections">
  <div class="collections__cards cards">

    <a href="{{ site.baseurl }}/tutorials" class="collections__card card">

        <h4>Tutorials</h4>
        
        <p>Learn more about the frameworks available on Oracle Cloud Infrastructure.</p>

    </a>

    <a href="{{ site.baseurl }}/frameworks" class="collections__card card">

        <h4>Frameworks</h4>
        
        <p>Build your skillset with tutorials on Oracle Cloud Infrastructure and Oracle tools.</p>

    </a>

  </div>

</section>
