---
layout: archive
---

{{ content | markdownify }}

<section id="projects">
<h3>Projects</h3>
<div class="cards">
  {% for pg in site.pages %}
  {% if pg.project %}
  <div>
    <a href="{{ site.baseurl }}{{ pg.url }}"><h4>{{ pg.title }}</h4></a>
    <p>{{ pg.description }}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>
</section>

<section id="posts">
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
</section>
