---
layout: archive
---

{{ content }}

<div class="cards">
    {% for pg in site.pages %}
    {% if pg.parent and pg.draft != true and pg.published != false %}
    <div class="card {{ pg.tags | tag_classes }}" data-category="{{ pg.categories | join: ' ' }}" data-tags="{{ pg.tags | join: ' ' }}">
        <h4><a href="{{ site.baseurl }}{{ pg.url }}">{{ pg.title }}</a></h4>
        <a href="{{ site.baseurl }}{{ pg.url }}"><figure><img class="center-cropped" src="{% if pg.thumbnail %}{{ pg.thumbnail }}{% elsif pg.image %}{{ page.image }}{% endif %}"></figure></a>
        <p>{{ pg.description }}</p>
        {% assign parent_series = pg.parent.last | default: pg.parent %}
        {% assign series = site.pages | where_exp: "item", "item.series == parent_series" | first %}
        <footer><span class="project"><a href="{{ site.baseurl }}/projects/{{ parent_series | slugify }}">{{ pg.parent }}</a></span>: {% for tag in pg.tags %}<span class="tag"><a href="{{ site.baseurl }}/{{ site.tag_page_dir }}/{{ tag | slugify }}">{{ tag }}</a></span>{% endfor %}</footer>
    </div>
    {% endif %}
    {% endfor %}
</div>
